
{% extends 'base2.html' %}

{% load forma %}


{% block content %}



<div style="position: fixed" class="col-lg-2">
<ul class="nav nav-pills nav-stacked">
<li><h1><center>Bienvenido Administrador</center></h1></li>
  <li class="active"><a data-toggle="pill" href="#cajeros">Cajeros</a></li>
  <li><a data-toggle="pill" href="#repartidores">Repartidores</a></li>
  <li><a data-toggle="pill" href="#menu">Menu</a></li>


</ul>
</div>
<div class="col-lg-2">
</div>

<div class="tab-content col-lg-8" >


		<div class="tab-pane fade in active" id="cajeros">

		<div class="col-sm-8" style="display:block" id="lista">
					{% detail_cajero %}
		</div>
				<div style="position: fixed;right: 100;top: 80px">
				<button  class="btn btn-success" onclick="funcion('cajero')" >Registar cajero</button>
				<div style="display:none" class="col-sm-12" id="cajero">
					{% forma_cajero %}
				</div>
				</div>
		</div>




		<div class="tab-pane " id="repartidores">


				<div class="col-sm-8" style="display:block" id="lista">
					{% detail_usuario %}
				</div>
				<div style="position: fixed;right: 100;top: 80px">
				<button  class="btn btn-success" onclick="funcion('repartidor')" >Registar repartidor</button>
				<div style="display:none" class="col-sm-12" id="repartidor">
					{% forma_repartidor %}
				</div>
				</div>
		</div>


		<div id="menu" class="tab-pane">


				<div class="col-sm-8" style="display:block" id="lista2">
					{% detail_categorias %}
				</div>
				<div style="position: fixed;right: 100;top: 80px">
				<button  class="btn btn-success" onclick="funcion('repartidor2')" >Registar categoria</button>
				<div class="col-sm-8" style="display:none" id="repartidor2">
				{% forma_categoria %}
				</div>
			</div>

		</div>


</div>
{% endblock %}