{% extends 'base1.html' %}
{% load staticfiles %}
{% block content %}
<script type="text/javascript">

	function fun(articulo){
	var yourselect = document.getElementById('tamanos');
	var actual=yourselect.options[yourselect.selectedIndex].getAttribute('data-foo');
	var tam=yourselect.options[yourselect.selectedIndex].getAttribute('data-precio');

	var div= document.getElementById('actualtamano');
		div.setAttribute('href',"{% url 'add_to_cart' articulo.id  2134  %}".replace(/2134/,actual.toString()));
	var sol= document.getElementById('precio')
	sol.innerHTML= {{articulo.precio}}+parseInt(tam) 
}
</script>
<div class="panel panel-primary col-md-6">
	
	<div class="panel-heading" >
		{{articulo.articulo}}
	</div>
	<div class="panel-body">
	<div >
	<img src="{{MEDIA_URL}}/{{articulo.imagen}}" width="440" height="250" >

<h3>
	<p>Precio</p>
	<p id="precio"></p>
	</div>

	</h3>
	</div>
</div>
<div class="col-md-4">


			{% if articulo.combinada %}

			






			{% else %}
		<select class="form-control" onchange="fun({{articulo.id}})" id="tamanos">
			
			<option value="" selected disabled hidden>Elige un tamaño</option>
					{% for p in tamano%}

					<option data-foo="{{p.id}}" data-precio="{{p.precio}}">{{p.tamano}} : {{p.descripcion}}</option>

					{% endfor %}
		</select>
						<a class="btn btn-success" id="actualtamano" style="display: block">Agregar al carrito</a>

			{% endif %}



</div>
{% endblock %}


