			

			{% for p in categorias %}
			<div class="col-md-11">
			<div class="panel panel-primary">
		
				<div class="panel-heading">{{p.nombre}}
					<p style="float: right;"><a class="btn btn-warning" href="/update_categoria/{{ p.id }}/"><span class="glyphicon glyphicon-edit"></span></a><a class="btn btn-danger" href="/delete_categoria/{{ p.id }}/"><span class="glyphicon glyphicon-remove"></span> </a></p>
				</div>
				<div class="panel-body">
			<img class="img-rounded categoria" src="/media/{{p.imagen}}" width="440" height="250" >

			<p><a href="/producto_categorias/{{p.id}}" class="btn btn-success">Productos en {{p.nombre}}</a></p>

	
</div>
</div>
</div>
			{% endfor %}

