{% extends 'base2.html'%}

{%  load forma %}
{% block content %}


			{% for p in productos%}
			<div class="panel panel-primary">
		
				<div class="panel-heading">{{p.articulo}}
					<p style="float: right;"><a class="btn btn-warning" href="/update_producto/{{ p.id }}/"><span class="glyphicon glyphicon-edit"></span></a><a class="btn btn-danger" href="/delete_producto/{{ p.id }}/"><span class="glyphicon glyphicon-remove"></span> </a></p>
				</div>
				<div class="panel-body">
			<img class="img-rounded categoria" src="/media/{{p.imagen}}" width="440" height="250" >
<div style="float: right;">
	<p>precio:{{p.precio}}</p>
	<p>Descripcion: {{p.descripcion}}</p>

</div>
			<p><a href="/tamanos_producto/{{p.id}}" class="btn btn-success"> Tamaños disponibles en {{p.articulo}}</a></p>
</div>
</div>
			{% endfor %}

{% endblock %}

