{% extends 'base2.html'%}

{%  load forma %}
{% block content %}


			{% for p in productos%}
			<div class="panel panel-primary">
		
				<div class="panel-heading">{{p.tamano}}
					<p style="float: right;"><a class="btn btn-warning" href="/update_tamano/{{ p.id }}/"><span class="glyphicon glyphicon-edit"></span></a><a class="btn btn-danger" href="/delete_tamano/{{ p.id }}/"><span class="glyphicon glyphicon-remove"></span> </a></p>
				</div>
				<div class="panel-body">

	<p>precio:{{p.precio}}</p>
	<p>Descripcion: {{p.descripcion}}</p>
</div>
</div>
			{% endfor %}

{% endblock %}
