
<table  class="table" id="tablapedidos" width="100%">
    <thead>
  <tr class="info">
      		<td># pedido</td>
      		<td> Datos de Pedido</td>
    		<td>Monto</td>
    		<td>Datos de entrega</td>
    		<td>estado</td>
    	</tr>
   </thead>
   <tbody>

			{% for p in pedidos%}


				<tr data-href="#" class="clickable-row">

					<td>
					{{p.id}}
					</td>
					<td>

	<a class="btn btn-primary" href="/lista_compras/{{p.id}}/"><span class="glyphicon glyphicon-list-alt"></span></a>


					</td>
					<td>
					{{p.total}}
					</td>
			
								<td>
						<button type="button"  class="btn  btn-primary" data-toggle="modal" data-target="#myModal{{p.id}}"><span class="glyphicon glyphicon-list-alt"></span></button></td>
					<td>{{p.algo}}</td>
					


		<div id="myModal{{p.id}}" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Datos de entrega para pedido {{p.id}}
</h4>
		      </div>
		      <div class="modal-body" id="aqui">
		      	<p>Nombre del cliente: {{p.user.first_name}} {{p.last_name}}</p>
		      	<p>Metodo de pago:{{p.payment_type}}</p>
		      	<div class="panel panel-primary">
		      			      			<div class="panel-heading">
		      	<p> Direccion</p>
		      </div>
		      		<div class="panel-body">
	
		   		<p>	Calle: {{p.direccion.calle}}</p>
		   		<p>	Colonia: {{p.direccion.colonia}}</p>
		   		<p>	Numero exterior: {{p.direccion.numero_exterior}}</p>
		   		<p>	Numero interior: {{p.direccion.numero_interior}}</p>
		   		<p>	C.P.: {{p.direccion.cp}}</p>
		   		<p>	Referencias: {{p.direccion.referencias}}</p>
		   		</div>
			</div>
		     </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>

	<div id="mypedidos{{p.id}}" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Datos del pedido
</h4>
		      </div>
		      <div class="modal-body" id="aqui">
		   <form method="POST"  style="align-items: stretch;">
				
				{% csrf_token %}

					<label>post</label>
					<textarea class="form-control" rows="2" name="post"></textarea>
					<input type="hidden" name='parent_id' value='{{p.id}}'>
					<input type="hidden" name='cart' value='{{p.id}}'>
					<input type="hidden" name='form-type' value='formone'>
					<input type="submit" class="btn btn-success" value="responder">
					<input type="reset" class="btn btn-success" name="Cancelar">
			</form>

		      			     </div>
		      	
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>


				</tr>
			{% endfor %}
		</tbody>

</table>